RewriteEngine On

# =========================
# 1. API → PHP
# =========================
RewriteCond %{REQUEST_URI} ^/api
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# =========================
# 2. Archivos reales (JS, CSS, imágenes, etc.)
# =========================
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# =========================
# 3. SPA (React)
# =========================
RewriteRule ^ /react/index.html [L]